html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	line-height: 26px;
	font-size: 18px;
}

pre {
	margin: 1em 0;
	padding: 1em;
	border-radius: 5px;
	background: #011627;
	color: #fff;
	overflow-x: auto; /* ⭐ */
	-webkit-overflow-scrolling: touch; /* ⭐ */
}

* {
	box-sizing: border-box;
}

a {
	color: #0070f3;
	text-decoration: none;
}

a:hover {
	cursor: pointer;
}

img {
	max-width: 100%;
	display: block;
}

.main {
	width: 960px;
	margin: 0 auto;
}

.title {
	margin-bottom: 20px;
}

.publishedAt {
	margin-bottom: 40px;
}

.post {
	& > h1 {
		font-size: 30px;
		font-weight: bold;
		margin: 40px 0 20px;
		background-color: #eee;
		padding: 10px 20px;
		border-radius: 5px;
	}

	& > h2 {
		font-size: 24px;
		font-weight: bold;
		margin: 40px 0 16px;
		border-bottom: 1px solid #ddd;
	}

	& > p {
		line-height: 1.8;
		letter-spacing: 0.2px;
	}

	& > ol {
		list-style-type: decimal;
		list-style-position: inside;
	}
}

.pointer {
	cursor: pointer;
}

.list-style-none {
	list-style: none;
}

.tc-black {
	color: black;
}

.tc-white {
	color: white;
}

.bg-white {
	background-color: white;
}

.tc-violet {
	color: #2b2970;
}

.bold {
	font-weight: bold;
}

.justify-between {
	justify-content: space-between;
}

.justify-center {
	justify-content: center;
}

.align-center {
	align-items: center;
}

.lh-16 {
	line-height: 1.6;
}
